/* css-code task 1
body {
background-color: #0000FF;
}*/

/* css-code task 2*/
* {
    margin: 0;
    padding: 0;
}
h2, hr, p {
    margin: 5px 0;
}

body>h2 {
    color: #FFFFFF;
    width: 90px;
    height: 30px;
    background-color: #FF0000;
}

h2+p {
    background-color: #0000FF;
    width: 200px;
    height: 40px;
}

hr {
    height: 1px;
    background-color: #000500;
    border: none;
    width: 250px;
}

hr+p {
    background-color: #FFFF00;
    width: 200px;
    height: 30px;
}
/*css-code for distance between tasks*/
.one, .sub, .grey-box, .equation, .polynomial {
    margin: 30px 0 5px;
}

/* css-code task 3*/
.one, .two, .three {
    height: 40px;
}

.one {
    width: 50px;
    background-color: #FF0000;
}

.two {
    background-color: #FFA500;
    width: 90px;
}

.three {
    background-color: #0000FF;
    width: 130px;
}
/* css-code task 4*/
.sub {
    padding: 30px 0;
    font-size: 250%;
    text-align: center;
    background-color: #ff8559;
    width: 250px;
    min-height: 60px;
}
/* css-code task 5*/
.grey-box {
    padding: 15px 0;
    background-color: #ccc;
    line-height: 250%;
    width: 500px;
    min-height: 150px;
}
.grey-box h1 {
    color: #630;
}

.grey-box h3 {
    color: #963;
}

.grey-box a {
    color: #360;
}
/* css-code task 6, task 7*/
.equation, .polynomial {
    width: 420px;
    min-height: 80px;
    border: 2px dashed #000000;
    line-height: 150%;
}
.equation {
    width: 420px;
}
/* css-code task 7*/
.polynomial {
    width: 300px;
}

.blue {
    color: #0000FF;
}

.red {
    color: #FF0000;
}
